.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  min-height: 60px; /* Set the fixed height of the footer here */
  background-color: #37384e;
  padding-top: 48px;
  padding-bottom: 24px;
  line-height: 1.5;
  color: rgba(255,255,255,0.7);
}

.footer a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
}
